* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Courier New', Courier, monospace;
    background: url("./background-photo.jpg") no-repeat center;
    background-size: cover;
}

body {
    width: 100%;
    height: 100vh;
}